html {
    box-sizing: border-box;
}

*,*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --background-color: #f5f5f5;
    --text-color: #212121;
    --accent-color: #9932CC;

    --duration: 300ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    letter-spacing: 0.03em;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    margin: 0;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 36px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 44px;
        text-align: left;
    }
}

h2 {
    font-weight: 400;
    margin: 0;
}

@media screen and (min-width: 480px) {
    h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 30px;
    }
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 20px;
}

h4 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.3;
}

h5,
h6,
p {
    margin: 0;
}

.container {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 480px) {
    header {
        padding-top: 75px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding-top: 75px;
    }
}

.name {
    margin-bottom: 10px;
}

.position {
    position: relative;
}

@media screen and (min-width: 480px) {
    .position {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .position {
        margin-bottom: 50px;
        text-align: left;
    }
}

.position::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
    .position::after {
        top: 35px;
        height: 0.5px;
    }
}

@media screen and (min-width: 1200px) {
    .position::after {
        height: 1px;
        top: 75px;
    }
}

@media screen and (min-width: 480px) {
    .main {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        display: flex;
    }
}

@media screen and (min-width: 480px) {
    .left-side {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .left-side {
        max-width: 400px;
        text-align: left;
    }
}

@media screen and (min-width: 480px) {
    .right-side {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .right-side {
        max-width: 500px;
        margin-left: 200px;
        text-align: left;
    }
}

.contacts__item {
    margin-bottom: 15px;
}

.contacts__link {
    color: var(--text-color);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
    font-weight: 700;
    transition: var(--duration), var(--timing-function);
}

.tech-skills__item {
    margin-bottom: 15px;
}

.soft-skills__item {
    margin-bottom: 15px;
}

.languages__item {
    margin-bottom: 15px;
}

.summary__text {
    margin-bottom: 15px;
    line-height: 1.5;
}

.project__item {
    margin-bottom: 15px;
}

.project__link {
    color: var(--accent-color);
}

.project__link:hover,
.project__link:focus {
    color: var(--accent-color);
    font-weight: 700;
    transition: var(--duration), var(--timing-function);
}

.project__text {
    margin-bottom: 10px;
    line-height: 1.5;
}

.work__text {
    margin-bottom: 10px;
}

.education__text {
    margin-bottom: 10px;
}

footer {
    height: 75px;
    background-color: var(--accent-color);
}

.contacts-footer__list {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.contacts-footer__item {
    display: block;
    margin-left: 0;
}

.contacts-footer__link {
    color: var(--background-color);
}

.contacts-footer__link:hover,
.contacts-footer__link:focus {
    font-weight: 700;
    transition: var(--duration) var(--timing-function);
}